@model habonapp.Models.Organiser

@{ ViewBag.Title = "signinOrg";
    Layout = "~/Views/Shared/LoginLayout.cshtml"; }

<form style="margin-left:750px; margin-right:700px;" class="form-signin" action="/Signin/Index" method="post">

    <div class="text-center mb-4">
        <img class="mb-4" src="~/Content/images/calander.png" alt="" width="72" height="72">
        <a class="h1 mb-3 font-weight-normal textColor" href="@Url.Action("Index", "Home")">Appointment</a>
    </div>


    <div class="form-label-group">
        <input type="text" name="id" class="form-control" placeholder="text" required autofocus>
        <label class="textColor" for="inputText">Id</label>
    </div>

    <div class="form-label-group">
        <input type="text" name="firstname" class="form-control" placeholder="text" required autofocus>
        <label class="textColor" for="inputText">First Name</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="lastname" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Last Name</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="address1" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Address 1</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="address2" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Address 2</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="suburb" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Suburb</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="state" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">State</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="postcode" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Postcode</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="country" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Country</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="phone" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Phone</label>
    </div>
    <div class="form-label-group">
        <input type="email" name="email" class="form-control" placeholder="Email address" required>
        <label class="textColor" for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
        <input type="text" name="username" class="form-control" placeholder="text" required>
        <label class="textColor" for="inputText">Username</label>
    </div>
    <div class="form-label-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <label class="textColor" for="inputPassword">Password</label>
    </div>
    <div class="form-label-group">
        <input type="password" name="confirmpassword" class="form-control" placeholder="Password" required>
        <label class="textColor" for="inputPassword">Confirm Password</label>
    </div>
    <div class="checkbox mb-3">
        <label class="textColor">
            <input type="checkbox" value="remember-me">Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Easyyyyy</p>

    @if ((string)TempData["Added"] == "Added")
    {
    <div>
    <a style="text-decoration: none; color: white; padding:80px;" class="h3 mb-3 font-weight-normal textColor"> Successful signup</a>

    </div>}
</form>